<h2>Hasil pencarian <%= @no_ujian %></h2>

<div class="baris">
	<div class="kanan">
		<a class="tombol"href="/">Kembali</a>
	</div>
</div>

<table>
	<tr>
		<td>No Ujian</td>
		<td><%= @binas.no_ujian %></td>
	</tr>
	<tr>
		<td>Nama</td>
		<td><%= @binas.nama %></td>
	</tr>
	<tr>
		<td>Pilihan 1</td>
		<td><%= @binas.pilihan_1 %></td>
	</tr>
	<tr>
		<td>Fakultas 1</td>
		<td><%= @binas.fakultas_1 %></td>
	</tr>
	<tr>
		<td>Pilihan 2</td>
		<td><%= @binas.pilihan_2 %></td>
	</tr>
	<tr>
		<td>Fakultas 2</td>
		<td><%= @binas.fakultas_2 %></td>
	</tr>
	<tr>
		<td>Nilai</td>
		<td><%= @binas.nilai %></td>
	</tr>
	<tr class="kuning">
		<td colspan="2">
			<p>Maaf, anda tidak lulus</p>
		</td>
	</tr>
</table>

<div class="pengumuman">
	<h2>PENGUMUMAN <span>Nomor : 2496D/UN8/SP/2013</span></h2>
	<p>
		Bagi peserta Seleksinya Unlam Mandiri (SENYUM) tahun 2013 yang dinyatakan tidak lulus, diberi kesempatan lagi untuk mendaftar di : 
		<ol>
			<li>
				Fakultas  Kehutanan Program Studi Ilmu Kehutanan
			</li>
			<li>
				Fakultas Perikanan  Program Studi
				<ol>
					<li>
						Teknologi Hasil Perikanan
					</li>
					<li>
						Budidaya Perairan
					</li>
					<li>
						Pemanfaatan Sbd Perikanan 
					</li>
					<li>
						Agribisnis Perikanan
					</li>
					<li>
						Manajemen Sbd Perairan
					</li>
					<li>
						Ilmu Kelautan
					</li>
				</ol>
			</li>
			<li>
				Bagi peserta yang memilih Program Studi Manajemen dan Akuntansi Fakultas Ekonomi yang tidak dinyatakan lulus dapat mendaftar pada Program Diploma III Akuntansi atau Diploma III Perpajakan.
			</li>
		</ol>
	</p> 
	<p>
		Dalam pendaftaran tersebut tidak dilakukan lagi test dan tidak dipungut uang pendaftaran, dan  dapat melakukan registrasi dengan membawa Kartu Peserta SENYUM 2013 di BAAK Rektorat UNLAM, dengan syarat :
		<ol>
			<li>
				Melaksanakan test Nafza / kesehatan di Fakultas Kedokteran UNLAM Banjarbaru  pada tanggal 12 sampai dengan 16 Agustus 2013.
			</li>
			<li>
				Pelaksanaan daftar ulang / registrasi dari tanggal 19 sampai dengan 24Agustus 2013 di Rektorat UNLAM Banjarmasin
			</li>
		</ol>
	</p>
	<p>	
	Demikian pengumuman ini disampaikan untuk diketahui dan digunakan sebagaimana mestinya.
	</p>



	<div class="ttd">
	<p>Banjarmasin, 3 Agustus 2013 <br>Rektor,</p>

	<br>
	<br>
	<p>Prof. Dr. Ir. H. Muhammad Ruslan, MS <span>
	NIP. 19500227 197603 1 001</span></p>
	</div>
</div>





