<h2>Hasil pencarian <%= @no_ujian %></h2>

<div class="baris">
	<div class="kanan">
		<a class="tombol"href="/">Kembali</a>
	</div>
</div>

<table>
	<tr>
		<td>No Ujian</td>
		<td><%= @binas.no_ujian %></td>
	</tr>
	<tr>
		<td>Nama</td>
		<td><%= @binas.nama %></td>
	</tr>
	<tr>
		<td>Pilihan 1</td>
		<td><%= @binas.pilihan_1 %></td>
	</tr>
	<tr>
		<td>Fakultas 1</td>
		<td><%= @binas.fakultas_1 %></td>
	</tr>
	<tr>
		<td>Pilihan 2</td>
		<td><%= @binas.pilihan_2 %></td>
	</tr>
	<tr>
		<td>Fakultas 2</td>
		<td><%= @binas.fakultas_2 %></td>
	</tr>
	<tr>
		<td>Nilai</td>
		<td><%= @binas.nilai %></td>
	</tr>
	<tr class="kuning">
		<td colspan="2">
			<p>Selamat, anda diterima di pilihan <strong><%= @binas.keterangan %></strong> pada jurusan <strong><%= @jurusan %> </strong> di fakultas <strong><%= @fakultas %></strong> Universitas Lambung Mangkurat Banjarmasin</p>
		</td>
	</tr>
</table>
<p><!-- Anda diterima di jurusan : <strong><%= @jurusan %> </strong> fakultas <strong><%= @fakultas %></strong> --></p>

<div class="pengumuman">
	<h2>
		PENGUMUMAN <span>Nomor :  2496/UN8/SP/2013</span> 
	</h2>

	<p>
		Bagi Calon Mahasiswa Baru yang diterima melalui Seleksinya Unlam Mandiri  (SENYUM) tahun 2013 Universitas Lambung Mangkurat, bahwa daftar ulang (registrasi) semester ganjil tahun akademik 2013/2014, diatur dengan ketentuan sebagai berikut :
		<ul>
			<li>
				Sebelum Daftar Ulang terlebih dahulu melaksanakan :
				<ul>
					<li>
						Tes Kesehatan dan NAFZA bagi seluruh Calon Mahasiswa dari tanggal 12 s.d. 16 Agustus  2013 yang  dilaksanakan di Fakultas Kedokteran UNLAM Banjarbaru.

						<br>
						Syarat / Biaya untuk mengikuti Tes Kesehatan/Nafza  :
						<ol>
							<li>
								Menunjukkan Kartu Peserta Pendaftaran SENYUM  tahun 2013
							</li>
							<li>
								Biaya untuk Fakultas Kedokteran Rp. 195.000,-.
							</li>
							<li>
								Biaya untuk Eksakta Non Kedokteran Rp. 115.000,-
							</li>
							<li>
								Biaya untuk Non Eksakta Rp. 105.000,-
							</li>
						</ol>
					</li>
					<li>
						Waktu Daftar Ulang :
						<ul>
							<li>
								Jadwal : 19 Agustus  s.d. 24 Agutsus  2013
							</li>
							<li>
								Jam : 08.30 s.d. 14.00 Wita
							</li>
							<li>
								Tempat : Rektorat Unlam Banjarmasin
							</li>
						</ul>
					</li>
					<li>
						Syarat-Syarat Daftar Ulang :
						<ol>
							<li>
								Menyerahkan Bukti Pendaftaran Peserta Asli
							</li>
							<li>
								Menyerahkan Foto ukuran 3 x 4 cm sebanyak 3 lembar.
							</li>
							<li>
								Menyerahkan Surat Keterangan Berkelakuan Baik dari Kepala Sekolah atau POLRI Asli + 1 lembar fotocopynya.
							</li>
							<li>
								Menyerahkan fotocopy Ijazah / UAN bagi lulusan tahun 2011 dan 2012 serta Surat Keterangan Lulus Ujian Akhir Nasional untuk tahun 2013.
							</li>

						</ol>
					</li>
				</ul>
			</li>
			<li>
				Uang Kuliah Tunggal (UKT)
				<p>
					Uang Kuliah Tunggal (UKT) untuk mahasiswa baru yang diterima melalui jalur Seleksi nya Unlam Mandiri (SENYUM) tahun 2013 berdasarkan lembar pernyataan kesanggupan membayar UKT yang telah diserahkan ke Universitas.
				</p>
			</li>
			<li>
				Setoran SPP dibayarkan melalui Bank BTN  dengan Nomor Rekening  :  
				<strong>00010-01-30-000888-8 </strong>  
				<p>
					
				</p>
	 
			</li>
		</ul>
	</p>
	
	<p>
		Bagi mahasiswa baru yang tidak melaksanakan daftar ulang sampai dengan tanggal  24 Agustus 2013 maka haknya sebagai calon mahasiswa Universitas Lambung Mangkurat dinyatakan BATAL.
	</p>  
	
	<p>
		Bila masih memerlukan penjelasan silahkan menghubungi 0511 – 3306694. Atas perhatiannya diucapkan terima kasih.
	</p>

	<div class="ttd">
		<p>
			Dikeluarkan di  : Banjarmasin
			<br/>
			Pada tanggal   : 3  Agustus 2013 <br/>
			Rektor,
		</p>
		<p>
			Prof. Dr. Ir. H. Muhammad Ruslan, MS <span>NIP. 19500227 197603 1 001</span>
		</p>
	</div>
</div>
	



