<h2>Data sudah disimpan dengan detail</h2>

<p>No : <strong><%= @binas.no_ujian %></strong></p>
<p>Nama : <strong><%= @binas.nama %></strong></p>
<p>Pilihan 1: <strong><%= @binas.pilihan_1 %></strong></p>
<p>Fakultas 2: <strong><%= @binas.fakultas_1 %></strong></p>
<p>Pilihan 2: <strong><%= @binas.pilihan_2 %></strong></p>
<p>Fakultas 2: <strong><%= @binas.fakultas_2 %></strong></p>
<p>Keterangan: <strong> Diterima di pilihan <%= @binas.keterangan %></strong></p>
<p>Jalur: <strong><%= @binas.jalur %></strong></p>

<a class="tombol" href="/<%= auth.credentials.first %>">Kembali</a>